# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Environment
.venv/
env/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Tooling caches
.ruff_cache/
.mypy_cache/
